@use "../../../../assets/theme/var.scss" as *;


.sidebar {
    width: 260px;
    height: 100vh;
    background: #5d5d69;
    border-right: 1px solid $borderclr;
    padding: 30px 20px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: $sidebar;
    font-family: $basefont;
    display: flex;
    flex-direction: column;
}

/* logo */

.logo {
    margin-bottom: 40px;

    h2 {
        color: $white;
        font-size: 22px;
        font-weight: 600;
    }
}

/* menu */

.menu {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        margin-bottom: 10px;

        a {
            display: block;
            padding: 12px 16px;
            border-radius: 8px;
            text-decoration: none;
            color: white;
            font-size: 18px;
            transition: 0.25s;

            &:hover,
            &.active {
                background: $bg62E;
                color: $white;
            }
        }
    }
}