@use "../../../../assets/theme/var" as *;

.admin-layout {
    display: flex;
    min-height: 100vh;
    background: #eef1f5; // light gray background (not white)
}

/* main content */

.main-area {
    flex: 1;
    margin-left: 260px;
    display: flex;
    flex-direction: column;
}

/* page content */

.page-content {
    padding: 30px;
}