@use "../../../../assets/theme/var.scss" as *;

.header {
  height: 70px;
  background: $blueclrdark2;
  border-bottom: 1px solid $borderclr;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  font-family: $basefont;
}

.page-title {
  color: $white;
  font-size: 20px;
}

/* profile button */

.profile-toggle {
  display: flex;
  align-items: center;
  gap: 10px;
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

/* avatar */

.avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: $gradient;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  font-weight: 600;
}

/* user text */

.user-info {
  display: flex;
  flex-direction: column;
  text-align: left;

  .name {
    font-size: 14px;
    color: $white;
  }

  .email {
    font-size: 12px;
    color: $lighttextclr;
  }
}

/* dropdown */

.dropdown-menu-custom {
  width: 230px;
  background: $blueclrdark;
  border: 1px solid $borderclr2;
  border-radius: 10px;
  padding: 0;
}

/* dropdown profile */

.dropdown-user {
  display: flex;
  gap: 10px;
  padding: 14px;
  border-bottom: 1px solid $borderclr3;

  .name {
    color: $white;
    font-size: 14px;
  }

  .email {
    color: $lighttextclr;
    font-size: 12px;
  }
}

/* dropdown items */

.dropdown-item {
  color: $bluetxt;
  padding: 10px 16px;

  &:hover {
    background: $bg62E;
    color: $white;
  }
}

/* logout */

.logout {
  color: $danger !important;
}