@mixin card-bg {
    padding: 40px;
    margin-top: 50px;
    background: #f6f8fb;
    box-shadow: 5px 4px 5px rgba(black, .2);
    border-radius: 10px;
}


@mixin card-bg-2 {
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 14px 20px;
    box-shadow: 0 1px 4px #0000000f;
}