.auth-layout {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .auth-layout-in {
        width: 400px;
        background: #8383665e;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);

        .title {
            text-align: center;
            margin-bottom: 30px;
            font-size: 28px;
            font-weight: 600;
        }

        .forgot {
            text-align: right;
            margin-bottom: 20px;

            a {
                font-size: 13px;
                color: #007bff;
                text-decoration: none;
            }
        }

        .register {
            text-align: center;
            margin-top: 20px;
            font-size: 14px;

            a {
                color: #007bff;
                text-decoration: none;
                font-weight: 500;
            }
        }
    }
}